* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  font-size: 14px;
  letter-spacing: -0.6px;
}
ul {
  list-style: none;
}
.inp-box {
  display: flex;
  gap: 8px;
  input[type="text"] {
    height: 32px;
    padding: 0 8px;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
    &:focus {
      background-color: #eceff1;
      outline: 1px solid #78909c;
    }
  }
}
.chk-box {
  input[type="checkbox"] {
    display: none;
    & + label {
      display: inline-flex;
      align-items: center;
      gap: 4px;
      cursor: pointer;
      &::before {
        content: "";
        display: block;
        width: 18px;
        height: 18px;
        background: no-repeat 50% 50% / cover;
        background-image: url(../images/unchecked.svg);
      }
    }
    &:checked {
      & + label {
        &.complete {
          text-decoration: line-through;
        }
        &::before {
          background-image: url(../images/checked.svg);
        }
      }
    }
  }
}
.btn {
  height: 32px;
  padding: 0 8px;
  font-size: 14px;
  white-space: nowrap;
  background-color: #78909c;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
}

.todolist {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 380px;
  padding: 20px;
  background-color: #eceff1;
  border: 1px solid #eceff1;
  border-radius: 12px;
  .main-title {
    margin-bottom: 16px;
    font-size: 28px;
    text-align: center;
  }
  .todolist-form {
    .inp-box {
      width: 100%;
      input[type="text"] {
        width: 100%;
      }
    }
  }
  .todolist-box {
    & > li {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 12px;
      height: 52px;
      border-top: 1px solid #e1e1e1;
      position: relative;
      &:first-child {
        border-top: 0;
      }
      width: 100%;
      .inp-edit {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        input[type="text"] {
          width: 100%;
        }
      }
      .btn-box {
        display: flex;
        gap: 4px;
      }
    }
  }
}
